{{ block "index" . }}
<!DOCTYPE html>

<html>

<head>
    <title>Willow</title>
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
</head>

<body>
    {{ template "display-cards" . }}
    <div id="error"></div>
</body>

</html>
{{ end }}

{{ block "display-cards" . }}
<div style="display: flex; flex-direction: column">
    {{ range .Cards }}
    <form hx-post="/play" hx-target="error">
        Title: {{ .Title }} <br>
        Artist: {{ .Artist }} <br>
        <input type="hidden" name="title" value="{{ .Title }}" />
        <input type="hidden" name="artist" value="{{ .Artist }}" />
        <button hx-post="/play" hx-target="#error">Play this animation!</button>
    </form>
    <hr>
    {{ end }}
</div>
{{ end }}

{{ block "error" . }}
<div>
    {{ .Error }}
</div>
{{ end }}
